In [209]:
from sheets import data, headers
import pandas as pd
import plotly.express as px

In [210]:
# dff = pd.DataFrame(data, columns=headers)
df = pd.read_csv("../data/matches.csv")

## Graph Number of wins per season by each team

### Plot(line graph): x : season ; y : wins ; color : team

####

In [211]:
df["date"] = pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [212]:
df.loc[df["city"].isna()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,2014,NaN,2014-04-19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,2014,NaN,2014-04-19,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,2014,NaN,2014-04-23,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,2014,NaN,2014-04-28,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

### Cleaning

In [213]:
df["city"] = df["city"].fillna("Dubai")
df["team1"] = df["team1"].replace("Rising Pune Supergiants", "Rising Pune Supergiant")
df["team2"] = df["team2"].replace("Rising Pune Supergiants", "Rising Pune Supergiant")
df["winner"] = df["winner"].replace("Rising Pune Supergiants", "Rising Pune Supergiant")
df["city"] = df["city"].replace("Bangalore", "Bengaluru")

In [214]:
df.loc[df["winner"].isna()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bengaluru,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bengaluru,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,2019-04-30,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [215]:
df["season"].value_counts(ascending=True)

2009    57
2008    58
2015    59
2017    59
2010    60
2014    60
2016    60
2018    60
2019    60
2011    73
2012    74
2013    76
Name: season, dtype: int64

In [216]:
'''
2008 : 59 / 58
2009 : 59 / 57
2010 : 60 
2011 : 74 / 73
2012 : 76 / 74
2013 : 76 
2014 : 60 
2015 : 60 / 59 
2016 : 60 
2017 : 60 / 59
2018 : 60 
2019 : 60

2008 : 2008-05-22

'''

'\n2008 : 59 / 58\n2009 : 59 / 57\n2010 : 60 \n2011 : 74 / 73\n2012 : 76 / 74\n2013 : 76 \n2014 : 60 \n2015 : 60 / 59 \n2016 : 60 \n2017 : 60 / 59\n2018 : 60 \n2019 : 60\n\n2008 : 2008-05-22\n\n'

In [217]:
# df.loc[df["season"]==2009]

In [218]:
df["date"].dtypes

dtype('<M8[ns]')

In [219]:
# df["date"] = [time.date() for time in df["date"]]
# df["date"] = pd.to_datetime(df["date"])

In [220]:
# df.loc[df["season"]==2008].sort_values(by=["date"])

In [271]:
values_of_datee = df.loc[df["season"]==2009]
# line = {"A" : 1, "B" : 2}
# line_df = pd.DataFrame(line, index=[3])
# demo_df = pd.concat([demo_df.iloc[:2], line_df, demo_df.iloc[2:]], ignore_index=True)
# Here, loc returned series (df["date"]) for which the .sort_values( ) doesnt require a "by=" parameter

In [272]:
values_of_date = values_of_datee.sort_values(by=["date"])

In [273]:
values_of_datee.shape

(57, 18)

In [275]:
# date_list = []
values_of_date[["date", "team1"]][:35]
# (2008)22 - 04
# (2009)21 - 04 : 25 - 04
# (2011)19 - 04 :
# (2012)24 - 04 : 25 - 04
# (2015)26 - 04
# (2017)25 - 04

          date                        team1
117 2009-04-18               Mumbai Indians
118 2009-04-18  Royal Challengers Bangalore
119 2009-04-19              Kings XI Punjab
120 2009-04-19        Kolkata Knight Riders
121 2009-04-20          Chennai Super Kings
122 2009-04-21              Kings XI Punjab
123 2009-04-22              Deccan Chargers
124 2009-04-23             Delhi Daredevils
125 2009-04-23             Rajasthan Royals
126 2009-04-24  Royal Challengers Bangalore
127 2009-04-25              Deccan Chargers
128 2009-04-26  Royal Challengers Bangalore
129 2009-04-26              Kings XI Punjab
131 2009-04-27               Mumbai Indians
130 2009-04-27          Chennai Super Kings
132 2009-04-28             Delhi Daredevils
133 2009-04-29        Kolkata Knight Riders
134 2009-04-29              Kings XI Punjab
135 2009-04-30              Deccan Chargers
136 2009-04-30          Chennai Super Kings
137 2009-05-01               Mumbai Indians
138 2009-05-01  Royal Challengers Bangalore
139 2009-05-02              Deccan Chargers
140 2009-05-02          Chennai Super Kings
141 2009-05-03        Kolkata Knight Riders
142 2009-05-03               Mumbai Indians
143 2009-05-04          Chennai Super Kings
145 2009-05-05        Kolkata Knight Riders
144 2009-05-05             Rajasthan Royals
146 2009-05-06              Deccan Chargers
147 2009-05-07  Royal Challengers Bangalore
148 2009-05-07          Chennai Super Kings
149 2009-05-08               Mumbai Indians
150 2009-05-09              Deccan Chargers
151 2009-05-09             Rajasthan Royals

In [225]:
len(date_list)
# date_list.pop()

59

In [226]:
# values_of_date["date_list"] = date_list

In [227]:
# values_of_date[["date", "date_list"]]

In [228]:
# values_of_date.columns

In [229]:
# values_of_date["date"].dtypes

In [230]:
# ADDING ROW IN BETWEEN DATAFRAME USING INDEX

# demo_dict = {"A" : [1, 2, 3, 4], "B" : [1, 2, 3, 4]}
# demo_df = pd.DataFrame(demo_dict)
# demo_df

# line = {"A" : 1, "B" : 2}
# line_df = pd.DataFrame(line, index=[3])
# demo_df = pd.concat([demo_df.iloc[:2], line_df, demo_df.iloc[2:]], ignore_index=True)
# demo_df

In [231]:
# FIND INDEX USING VALUE OF "id"

# indeex = df.index[df["id"]==60]
# indeex

In [270]:
values_of_datee["umpire3"].value_counts()

Series([], Name: umpire3, dtype: int64)

In [ ]:
# add_2008 = 
# {
#     "season" : 2008
#     "city" : "Delhi"
#     "date" : 2008-05-22
#     "team1" : "Delhi Daredevils"
#     "team2" : "Kolkata Knight Riders"
#     "toss_winner" : ""
#     "toss_decision" :
#     "result" : "no result"
#     "dl_applied" : 0
#     "winner" : ""
#     "win_by_runs" : 
#     "win_by_wickets" :
#     "player_of_match" :
#     "venue" : "Arun Jaitley Stadium"
#     "umpire1" : "AV Jayaprakash"
#     "umpire2" : "BG Jerling"
#     "umpire3" : ""
# }
# add_2009 = 
# {
#     "season" : 2009
#     "city" : "Delhi"
#     "date" : 2008-05-22
#     "team1" : "Delhi Daredevils"
#     "team2" : "Kolkata Knight Riders"
#     "toss_winner" : ""
#     "toss_decision" :
#     "result" : "no result"
#     "dl_applied" : 0
#     "winner" : ""
#     "win_by_runs" : 
#     "win_by_wickets" :
#     "player_of_match" :
#     "venue" : "Arun Jaitley Stadium"
#     "umpire1" : "AV Jayaprakash"
#     "umpire2" : "BG Jerling"
#     "umpire3" : ""
# }
# add_2011 = {}
# add_2012 = {}
# add_2015 = {}
# add_2017 = {}